{*
* BreadCrumb Template
* David Zadrazil
*}

<ol class="breadcrumb">
    <li n:foreach="$links as $link" {if !$link['link']}class="active"{/if}>
        <i class="fa {$link['icon']}" n:if="$link['icon']"></i>
        {if $link['link']}
            <a href="{$link['link']}" title="{$link['title']}">{$link['title']}</a>
        {else}
            {$link['title']}
        {/if}
        <i class="icon-angle-right" n:if="!$iterator->isLast()"></i>
    </li>
</ol>