<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Record</title>
    {*<link rel="shortcut icon" href="../favicon.ico">*}

    <!-- jQuery 1.11 -->
    <script type='text/javascript' src='//code.jquery.com/jquery-2.1.0.js'></script>
    <!-- jQuery Mobile 1.4.5 -->
    <script type="text/javascript" src="//code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
    {*<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />*}
    <!-- Select2 3.2 -->
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/select2/3.2/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.2/select2.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/adjusting.css">
</head>

<body>
<div data-role="page" id="match">
    <div data-role="panel" id="menu" data-position="left" data-display="overlay">
        <ul data-role="listview">
            <li data-icon="bullets"><a n:href="Homepage:" data-ajax="false">Dashboard</a></li>
            <li data-icon="gear"><a n:href="competitionLogout!" data-ajax="false">Change Competition</a></li>
            <li data-icon="power"><a n:href="logout!" data-ajax="false">Logout</a></li>
        </ul>
    </div><!-- /panel -->

    <div data-role='header'>
        {include header}
        <a href="#menu" data-icon="bars" class="ui-btn-left">Menu</a>
    </div>

    <div n:foreach="$flashes as $flash" class="flash-message flash-message-{$flash->type}">{$flash->message}</div>

    <div role="main" class="ui-content">
        {include content}
    </div><!-- /content -->

    <div data-role="footer" data-theme="a">
        {block footer}
            <h4>OHS TSA Scouting System | 2015</h4>
        {/block}
    </div><!-- /footer -->
</div><!-- /page one -->

{block scripts}
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/main.js"></script>
{/block}
</body>
</html>