{define header}
    <h1>Record #{$record->id} added successfully</h1>
{/define}

{block content}
    <div class="summary" style="background-color: #eee">
        Match #: {$record->match_number} <br>
        Team: {$record->ref('team', 'team_id')->number} <br>
        Ally Color: {$record->ally_color} <br>
        Autonomous: {$record->autonomous} | {$record->autonomous_points} points <br>
        Skyrise: {$record->points_one} <br>
        Cubes: {$record->points_two} <br>
        Tags:
            <ul n:inner-foreach="$relatedTags as $tag" class="tags">
                <li><a n:href=":Results: 'competition' => $record->competition_id, 'tag' => $tag->id" data-ajax="false">{$tag->name}</a></li>
            </ul>
        <br>
        Result: {$record->match_result} <br>
        Rating: {$record->rating}
    </div>
    <br>
    <a n:href="Record:new $record->competition_id" class="ui-btn ui-icon-plus ui-btn-icon-left">Add new record</a>
    <a n:href="Record:edit $record->id" class="ui-btn ui-icon-edit ui-btn-icon-left ui-state-disabled">Edit this record</a>
    <a n:href=":Results: 'competition' => $record->competition_id" class="ui-btn ui-icon-bullets ui-btn-icon-left" data-ajax="false">Show results</a>
    <br>
    <a n:href="logout!" class="ui-btn ui-icon-power ui-btn-icon-left">Logout</a>
{/block}