{define header}
    <h1>Add new record in {$competition->name}</h1>
{/define}

{block content}
    {form addRecord method => 'POST', data-ajax => "false"}
        {label match_number /}
        {input match_number}

        {label team_id /}
        {input team_id}

        {label ally_color /}
            <fieldset data-role="controlgroup"  data-type="horizontal" data-role="fieldcontain">
                {foreach $form[ally_color]->items as $key => $label}
                   <input n:name="ally_color:$key">
                   <label n:name="ally_color:$key">{$label}</label>
                {/foreach}
            </fieldset>
        {label autonomous /}
            <fieldset data-role="controlgroup"  data-type="horizontal" data-role="fieldcontain">
                {foreach $form[autonomous]->items as $key => $label}
                   <input n:name="autonomous:$key">
                   <label n:name="autonomous:$key">{$label}</label>
                {/foreach}
            </fieldset>
        {label autonomous_points /}
        {input autonomous_points}

        {label points_one /}
        {input points_one data-highlight=>"true", min=>"0", max=>"7", value=>"4", type=>"range"}

        {label points_two /}
        {input points_two data-highlight=>"true", min=>"0", max=>"22", value=>"10", type=>"range"}


        {input tags data-role=>"none", style=>"width: 100%;"} <br />



        {label match_result /}{*TODO: [front-end] consider adding points*}
         <fieldset data-role="controlgroup"  data-type="horizontal" data-role="fieldcontain">
            {foreach $form[match_result]->items as $key => $label}
               <input n:name="match_result:$key">
               <label n:name="match_result:$key">{$label}</label>
            {/foreach}
         </fieldset>

        {label rating /}
        {input rating data-highlight=>"true", min=>"0", max=>"10", value=>"5", type=>"range"}

        {input add_match}
    {/form}
{/block}

{define scripts}
    <script type="text/javascript">
        $("#frm-addRecord-tags").select2();
    </script>
    {include parent}
{/define}