{block content}
    <div class="profile-circular-mask"><img src="{$basePath}/images/projects/{$project->image}"/></div>
    <h1>{$project->name}</h1>
    <p>{$project->description}</p>
    <hr>
    <h2>Contributors</h2>
    <table border="1px">
        {foreach $contributors as $contributor}
            <tr n:class="$iterator->odd ? odd">
                <td>{$contributor->email}</td>
            </tr>
        {/foreach}
        <tr n:if="$user->isAllowed('addContributor', 'view')"><td><a href="#">Add NEW</a></td></tr>
    </table>
    <ul>

    </ul>
{/block}