<h1 n:define="heading">Teams</h1>
{block content}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-lock"></i> Add private team</h5>
                </div>
                <div class="ibox-content">
                    {form addTeam role => 'form'}
                    <div class="input-group">
                        {label number /}
                        {input number class => "form-control"}
                    </div>
                    <div class="input-group">
                        {label letter /}
                        {input letter class => "form-control"}
                    </div>
                    <br>
                    <button class="btn btn-success m-t-n-xs" type="submit"><i class="fa fa-plus"></i> Add new team</button>
                    {/form}
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-lock"></i> List of private teams</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Number</th>
                                <th># Records and more</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $privateTeams as $team}
                                <tr>
                                    <td>{$team->number}{$team->letter}</td>
                                    <td>Soon...</td>
                                </tr>
                            {/foreach}

                            {*  //TODO: DATAGRID Add-on -> more info
                                //TODO: link to profile *}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-unlock"></i> List of public teams</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="text-center">Coming soon...</h1>
                    <p class="text-center">
                        We will provide you with updated list of teams from official source - VexDB.
                        <br><br>
                        <a href="http://vex.us.nallen.me/" target="_blank" class="btn btn-success btn-lg"><i class="fa fa-external-link"></i> Learn more</a>
                    </p>
                    {*<div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Number</th>
                                <th># Records and more</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $publicTeams as $team}
                                <tr>
                                    <td>{$team->number}{$team->letter}</td>
                                    <td>Soon...</td>
                                </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>*}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}