{block head}
    {include parent}
    <link href="{$basePath}/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
{/block}
<h1 n:define="heading">Competitions</h1>
{block content}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Add new competition</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        {form addCompetitionForm role => 'form'}
                            <div class="form-group">
                                {label name /}
                                {input name placeholder => "Name of the competition", class => "form-control"}
                            </div>
                            <div class="form-group" id="data_picker">
                                {label date /}
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    {input date class => "form-control"}
                                </div>
                            </div>
                            <div class="form-group">
                                {label description /}
                                {input description placeholder => "Brief description", class => "form-control", rows => "3"}
                            </div>
                            <div class="form-group">
                                {label location /}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    {input location placeholder => 'Where is it?', class => "form-control"}
                                </div>
                            </div>
                            <div class="form-group">
                                {label teams /}
                                {input teams placeholder => "List of teams from public or private database", class => "form-control", rows => "5"}
                            </div>
                            <div>
                                <button class="btn btn-success pull-right m-t-n-xs" type="submit"><i class="fa fa-plus"></i> Add new competition</button>
                            </div>
                        {/form}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Competitions</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th># of Teams</th>
                                <th># of Records</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $competitions as $competition}
                                <tr>
                                    <td>{$competition->name}</td>
                                    <td>{$competition->date|date:'%m/%d/%Y'}</a></td>
                                    <td>{count($competition->related("competition_team.competition_id"))}</td>
                                    <td>{count($competition->related("record.competition_id"))}</td>
                                    <td>
                                        <a n:href="Record:new $competition->id" data-toggle="tooltip" data-placement="top" title="Add new record"><i class="fa fa-plus"></i></a>
                                        <a n:href="Results: $competition->id" data-toggle="tooltip" data-placement="top" title="View results"><i class="fa fa-pie-chart"></i></a>
                                        <span data-toggle="tooltip" data-placement="top" title="Edit competition"><i class="fa fa-pencil"></i></span>
                                    </td>
                                </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-globe"></i> Public competitions</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="text-center">Coming soon...</h1>
                    <p class="text-center">
                        We will provide you with updated list of <b>recent competitions</b> from official source - VexDB.
                        <br><br>
                        <a href="http://vex.us.nallen.me/" target="_blank" class="btn btn-success btn-lg"><i class="fa fa-external-link"></i> Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block scripts}
    {include parent}
    <!-- Data picker -->
    <script src="{$basePath}/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!--Special for this site-->

    <script type="text/javascript">
        $('#data_picker .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: 'yyyy-mm-dd'
        });

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
        if (window.location.href.search('#edit') != -1){
            $('#modal-form').modal('show');
        }
    </script>
{/block}