<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nodex | Login</title>

    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{$basePath}/css/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">OHS</h1>

        </div>
        <h3>Welcome to OlaScoutingSystem</h3>
        <p>
            Some short promotion text comes here
        </p>
        <p>Login in. To see it in action.</p>
        {control flash}
        {form loginForm}
            <div class="form-group">
                {input group_name class => "form-control", placeholder => "Group Name"}
                {input user_name class => "form-control", placeholder => "Username"}
            </div>
            <div class="form-group">
                {input password class => "form-control", placeholder => "Password"}
            </div>
            <button type="submit" n:name="login" class="btn btn-primary block full-width m-b">Login</button>

            <a href="#"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Your group doesn't exit yet?</small></p>
            <a class="btn btn-sm btn-white btn-block" n:href="Group:create">Create new group</a>
        {/form}
        <p class="m-t"> <small>Come up with standard footer</small> </p>
    </div>
</div>

<!-- Mainly scripts -->
    <script src="{$basePath}/js/jquery-2.1.1.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>
<!-- Custom -->
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/main.js"></script>

</body>

</html>
