{block head}
    {include parent}
    <!-- Data Table Styles-->
    <link href="{$basePath}/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="{$basePath}/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="{$basePath}/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
{/block}
<h1 n:define="heading">Members</h1>

{block content}
    {*control grid*}
    <table class="table table-striped table-bordered table-hover" id="results-table">
        <thead>
        <tr>
            <th>Match #</th>
            <th>Team</th>
            <th>Ally</th>
            <th>Auto Points</th>
            <th>Skyrises</th>
            <th>Cubes</th>
            <th>Rating</th>
            <th>Result</th>
            <th>Tags</th>
            <th>Scout</th>
            <th>Added</th>
            {if $user->isAllowed('results', 'manage')}
            <th>Actions</th>
            {/if}
        </tr>
        </thead>
        <tbody>
            {foreach $data as $row}
                <tr>
                    <td>{$row->match_number}</td>
                    <td>{$row->team->number.$row->team->letter}</td>
                    <td n:class="$row->ally_color == 'blue' ? blue : red">{$row->ally_color}</td>
                    <td>{$row->autonomous_points}</td>
                    <td>{$row->points_one}</td>
                    <td>{$row->points_two}</td>
                    <td>{$row->rating}</td>
                    <td>{$row->match_result}</td>
                    <td>
                        <ul class="tags">
                        {foreach $row->related('record_tag.record_id') as $connection} <!--TODO: make sure this is safe -->
                            <li><a href="#">{$connection->tag->name}</a></li>
                        {/foreach}
                        </ul>
                    </td>
                    <td>{$row->user->name}</td>
                    <td>{$row->time_added}</td>
                    {if $user->isAllowed('results', 'manage')}
                        <td>
                            <span data-toggle="tooltip" data-placement="top" title="Edit record"><i class="fa fa-pencil"></i></span> {*Comming soon*}
                            <a n:href="deleteRecord! record_id => $row->id" data-toggle="tooltip" data-placement="top" title="Delete record"><i class="fa fa-trash"></i></a> {*Comming soon*}
                        </td>
                    {/if}
                </tr>
            {/foreach}
        </tbody>


{/block}

{block scripts}
    {include parent}
    <!-- Data Tables -->
    <script src="{$basePath}/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="{$basePath}/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="{$basePath}/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="{$basePath}/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

    <!-- Page-Level Script -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#results-table').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "./js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });
        });
    </script>
{/block}