<h1 n:define="heading">Members</h1>
{block content}
    <div class="progress animated bounce">
        <div class="progress-bar progress-bar-striped progress-bar-{$filledUpRatio <= 60 ? 'info' : ($filledUpRatio >= 100 ? 'danger' : 'warning')} active" role="progressbar"
             aria-valuenow="{$numberOfMembers}" aria-valuemin="0" aria-valuemax="{$group->scout_limit}"
             style="width: {$filledUpRatio}%">

            {$numberOfMembers} out of {$group->scout_limit}
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Add new group member</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            {if $filledUpRatio < 100}
                                {form addMember role => 'form'}
                                    <div class="form-group">
                                        {label name /}
                                        {input name placeholder => "Name or Nickname", class => "form-control"}
                                    </div>
                                    <div class="form-group">
                                        {label email /}
                                        {input email placeholder => "Email address", class => "form-control"}
                                    </div>
                                    <div class="form-group">
                                        {label password /}
                                        {input password placeholder => "Password", class => "form-control"}
                                    </div>
                                    <div>
                                        <button class="btn btn-success pull-right m-t-n-xs" type="submit"><i class="fa fa-plus"></i> Add new member</button>
                                    </div>
                                {/form}
                            {else}
                                <h1 class="text-center">You have reached the limit</h1>
                                <hr>
                                <p class="text-center">
                                    If you need more scouts in your group please contact us.
                                    <br><br>
                                    <button class="btn btn-success btn-lg"><i class="fa fa-envelope"></i> Contact us</button>
                                </p>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Current members</h5>
                    </div>
                <div class="ibox-content">
                    {foreach $members as $member}
                        {control "editMember-$member->id"}
                        <br>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
{/block}