<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nodex | Login</title>

    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{$basePath}/css/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">OHS</h1>

        </div>
        <h3>Welcome to OlaScoutingSystem&reg;</h3>
        <p>
            Some short promotion text...
        <p>

        {control flash}

        {form createGroupForm}
            <div class="form-group">
                {input admin_name class => "form-control", placeholder => "Admin Name"}
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    {input email class => "form-control", placeholder => "Email", aria-describedby => "basic-addon1"}
                </div>
                {input password class => "form-control", placeholder => "Password"}
                {input password_check class => "form-control", placeholder => "Password check"}
            </div>
            <div class="form-group">
                {input group_name class => "form-control", placeholder => "Group Name"}
                {input group_description class => "form-control", placeholder => "Group Description"}
            </div>
            <button type="submit" n:name="create" class="btn btn-primary block full-width m-b">Create group</button>

            <p class="text-muted text-center"><small>Already part of a group?</small></p>
            <a class="btn btn-sm btn-white btn-block" n:href="User:login">Sign In</a>
        {/form}
        <p class="m-t"> <small>Come up with standard footer</small> </p>
    </div>
</div>
<!-- Mainly scripts -->
<script src="{$basePath}/js/jquery-2.1.1.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="{$basePath}/js/netteForms.js"></script>

</body>

</html>

