<h1 n:define="heading">Group Profile {$group->name}</h1>

{block content}
 <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit <small>basic information about your group</small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9 b-r">
                            {form groupEdit role => 'form'}
                                <div class="form-group">
                                    {label name /}
                                    {input name placeholder => "Enter email", class => "form-control"}
                                </div>
                                <div class="form-group">
                                    {label description /}
                                    {input description placeholder => "Short description of this group", class => "form-control", rows => "5"}
                                </div>
                                <div>
                                    <button class="btn btn-success pull-right m-t-n-xs" type="submit"><i class="fa fa-check"></i> Save changes</button>

                                </div>
                            {/form}
                        </div>
                        <div class="col-sm-3">
                            <br><br>
                            <hr class="visible-xs">
                            <p class="text-center">
                                So far this description can be viewed just by administrator of this group. However we are planning to add public profiles with more features in the near future, so be ready :)
                                <br><br><br>
                                <i class="fa fa-5x fa-heart text-danger"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
{/block}