<h1 n:define="heading">Tags</h1>

{block content}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-plus"></i> Add Tag</h5>
                </div>
                <div class="ibox-content">
                    {form addTag role => "form"}
                        <div class="form-group">
                            {label name /}
                            {input name class => "form-control"}
                        </div>
                        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> Add new tag</button>
                    {/form}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-tags"></i> List of your tags</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tag Name</th>
                            <th>Added</th>
                            <th>Used</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $tags as $tag}
                            <tr>
                                <td>{$tag->name}</td>
                                <td>{$tag->time_added}</td>
                                <td>{count($tag->related('record_tag.tag_id'))}</td>
                                <td>
                                    <a n:href="Results: 'tag' => $tag->id" data-toggle="tooltip" data-placement="top" title="View records with this tag"><i class="fa fa-pie-chart"></i></a>
                                    <span data-toggle="tooltip" data-placement="top" title="Edit tag"><i class="fa fa-pencil"></i></span>
                                    <span data-toggle="tooltip" data-placement="top" title="Delete tag"><i class="fa fa-trash"></i></span>
                                </td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{/block}

{block scripts}
    {include parent}
    <!--Special for this site-->
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{/block}