{*FROM*}
{form singleEdit role => "form", class => "form-inline"}
    {$member->role|firstUpper}
    <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" data-original-title="#of inserted records">{count($member->related('record'))}</span>
    <div class="form-group">
        <label for="nameInput" class="sr-only">Name</label>
        {input name class => 'form-control'}
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2" class="sr-only">Password</label>
        {input email class => 'form-control'}
    </div>
    <button class="btn btn-success" type="submit" n:name="save"><i class="fa fa-check"></i> Save</button>
    {*SIGNAL*}
    {if $member->role != 'admin'}
        <a n:href="deleteUser!, $member->id" class="btn btn-danger"><i class="fa fa-trash"></i> Delete this user</a>
    {/if}
{/form}