{block content}
    <h1 n:define="heading">Admin Dashboard</h1>

    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-trophy fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{$widgetData['competitions']}</div>
                            <div>Competitions</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <a n:href="Competition:" class="pull-left text-info">View Details</a>
                        <span class="pull-right text-info"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-pie-chart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{$widgetData['records']}</div>
                            <div>Records</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <a n:href="Results:" class="pull-left">View Details</a>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-male fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{$widgetData['members']}</div>
                            <div>Members</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <a n:href="Members:" class="pull-left text-warning">View Details</a>
                        <span class="pull-right text-warning"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <br><br><br>
    <h1 class="text-center">Other features coming soon...</h1>
    <p class="text-center lead" >
        <i class="fa fa-bar-chart"></i> Charts &nbsp; <i class="fa fa-line-chart"></i> Statisctics &nbsp; <i class="fa fa-smile-o"></i> Acuracy&nbsp;ratings
    </p>
        <!--<div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <span class="badge">just now</span>
                            <i class="fa fa-fw fa-calendar"></i> Calendar updated
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">4 minutes ago</span>
                            <i class="fa fa-fw fa-comment"></i> Commented on a post
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4"> <!--GROUPS PANEL - TESTING
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-group fa-fw"></i> Groups</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th># of members</th>
                            <th>Established</th>
                        </tr>
                        </thead>
                        <tbody>
                        {*foreach $groups as $group*}
                            <tr>
                                <td>{*$group->id*}</td>
                                <td><a n:href=":Group:Profile $group->name">{*$group->name*}</a></td>
                                <td><span class="label label-default">{*count($group->related("user"))*}<span></td>
                                <td>{*$group->establish_time*}</td>
                            </tr>
                        {*/foreach*}
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-group fa-fw"></i> Something else</h3></div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
{/block}