{block content}
    <h1 n:define="heading">Scout Dashboard</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="widget yellow-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-pie-chart fa-4x"></i>
                    <h1 class="m-xs">{count($scout->related('record'))}</h1>
                    <h3 class="font-bold no-margins">
                        Records added
                    </h3>
                    <small>by yourself - good job!</small>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <br><br><br>
    <h1 class="text-center">Other features coming soon...</h1>
{/block}