<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}Ola Scouting App{/block}</title>

    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
    <link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
    <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
    <link href="{$basePath}/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="{$basePath}/css/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/style.css" rel="stylesheet">
    <link href="{$basePath}/css/adjusting.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
<div id="wrapper">
<!-- Navigation -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                            <i class="fa fa-user fa-4x text-info"></i>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">{$user->getIdentity()->name}</strong></span>
                                    <span class="text-muted text-xs block">{$group->name}</span>
                                    <span class="text-muted text-xs block">{$user->getIdentity()->role}<b class="caret"></b></span>

                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a n:href="logout!">Logout</a></li>
                            </ul>
                    </div>
                    <div class="logo-element">
                        OHS
                    </div>
                </li>
                <li n:class="$presenter->isLinkCurrent('Homepage:*') ? active"><a n:href=":Homepage:"><i class="fa fa-fw fa-dashboard"></i> <span class="nav-label">Dashboard</span></a></li>
                <li><a n:href="Record:"><i class="fa fa-fw fa-plus"></i> <span class="nav-label">New Record</span></a></li>
                <li n:class="$presenter->isLinkCurrent('Results:*') ? active"><a n:href="Results:"><i class="fa fa-fw fa-pie-chart"></i> <span class="nav-label">Results</span></a></li>
                {if $user->isAllowed('administration', 'view')}
                    <li n:class="$presenter->isLinkCurrent('Competition:*') ? active"><a n:href="Competition:"><i class="fa fa-fw fa-trophy"></i> <span class="nav-label">Competitions</span></a></li>
                    <li n:class="$presenter->isLinkCurrent('Group:*') || $presenter->isLinkCurrent('Members:*') || $presenter->isLinkCurrent('Teams:*') || $presenter->isLinkCurrent('Tags:*')   ? active">
                        <a href="#"><i class="fa fa-fw fa-cogs"></i> <span class="nav-label">Settings</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li n:class="$presenter->isLinkCurrent('Group:*') ? active"><a n:href="Group:Edit"><i class="fa fa-fw fa-group"></i> <span class="nav-label">Group</span></a></li>
                            <li n:class="$presenter->isLinkCurrent('Members:*') ? active"><a n:href="Members:"><i class="fa fa-fw fa-male"></i> <span class="nav-label">Members</span></a></li>
                            <li n:class="$presenter->isLinkCurrent('Teams:*') ? active"><a n:href="Teams:"><i class="fa fa-fw fa-cubes"></i> <span class="nav-label">Teams</span></a></li>
                            <li n:class="$presenter->isLinkCurrent('Tags:*') ? active"><a n:href="Tags:"><i class="fa fa-fw fa-tags"></i> <span class="nav-label">Tags</span></a></li>
                        </ul>
                    </li>
                {/if}
            </ul>

        </div>
    </nav>
<!-- Main Page--->
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <!--<form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>-->
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a n:href="logout!">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>{include heading}</h2>
                {control breadCrumb}
            </div>
        </div>
        {control flash}

        <div class="wrapper wrapper-content">
            {include content}
        </div>

        <footer class="footer">
            <div class="pull-right">
                &copy; 2014-2015
            </div>
            <div>
                <strong>Copyright</strong> OlaScoutingApp |
                <a href="http://www.ohstsa.com" target="_blank">OHS TSA</a> |
                <a n:href=":Landing#team">Our Team</a>
            </div>
        </footer>
    </div>
</div>

{block scripts}
    <!-- Mainly scripts -->
    <script src="{$basePath}/js/jquery-2.1.1.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="{$basePath}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="{$basePath}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="{$basePath}/js/inspinia.js"></script>
    <script src="{$basePath}/js/plugins/pace/pace.min.js"></script>
    <!-- Custom -->
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/main.js"></script>
{/block}
</body>
</html>
