.tags{
    margin:0;
    padding:0 0 7px 0;
    list-style:none;
}
.tags li, .tags a{
    float:left;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
    color: white;
    text-shadow: none;
}

.tags a{
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#0089e0;
    color:#fff !important;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
}

.tags a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;
}

.tags a:hover{background:#555; color: white}

.tags a:hover:before{border-color:transparent #555 transparent transparent;}

#results-table .red {
    background-color: orangered;
}

#results-table .blue {
    background-color: dodgerblue;
}

/*flash messages for mobile part of the website*/
.flash-message { /*for mobile part of the website*/
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
}

.flash-message-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.flash-message-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.flash-message-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}