body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
    padding: 0;
    margin: 0;
}

footer {

}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}
a {
    text-decoration: none;
    color: #3484D2;
}

a:hover {
    text-decoration: underline;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

div.flash .notAuthorized {
    background: #CC2222;
    border-radius: 10px;
    color: white;
    padding: 1em;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}

.profile-circular-mask {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.profile-circular-mask img {
    max-width: 100%;
}
